.nav-item .btn-outline-light:hover {
  color: #333;
}
.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}
.navbar-sticy {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.modal-dialog {
  max-width: 1040px;
}
.download {
  background: url(../images/download-background.jpg) center center no-repeat;
  background-size: cover;
}
iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .navbar{
    background-color: #333;
  }
}
@media screen and (max-width: 1000px) {
  .img-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}
